<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
</head>
<body>
    {% include '_navigation.html' %}
    <form action="" method="post">
        <div>
            <label for="user_id">User ID</label>
            <input type="text" name="user_id" id="user_id" required />
        </div>
        <div>
            <label for="f_name">First Name</label>
            <input type="text" name="f_name" id="f_name" required />
        </div>
        <div>
            <label for="l_name">Last Name</label>
            <input type="text" name="l_name" id="l_name" required />
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" required />
        </div>
        <div>
            <label for="is_admin">Admin</label>
            <input type="checkbox" name="is_admin" id="is_admin" />
        </div>
        <div>
            <label for="is_participant">Participant</label>
            <input type="checkbox" name="is_participant" id="is_participant" />
        </div>
        <div>
            <label for="is_organizer">Organizer</label>
            <input type="checkbox" name="is_organizer" id="is_organizer" />
        </div>
        <div>
            <input type="submit" value="Create User" />
        </div>
    </form>
</body>
</html>