<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website Directory</title>
</head>
<body>
    <h3>User ID</h3>
    <p>{{ dat.user_id }}</p>
    <h3>First Name</h3>
    <p>{{ dat.f_name }}</p>
    <h3>Last Name</h3>
    <p>{{ dat.l_name }}</p>
    <h3>Email</h3>
    <p>{{ dat.email }}</p>
    <h3>Participant</h3>
    <p>{{ dat.is_participant }}</p>
    <h3>Organizer</h3>
    <p>{{ dat.is_organizer }}</p>
    <h3>Admin</h3>
    <p>{{ dat.is_admin }}</p>
</body>
</html>